<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenlinqiang.demo.transaction.mapper.DemoStockMapper">

    <update id="reduceStock">
        update demo_stock set stock_num = stock_num - #{stockNum} where id = #{stockId}
    </update>
</mapper>
